body,td,th { font-size: 12px; font-family: arial; color: #a9a9a9; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size: 12px; color: #a9a9a9; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img {
	position:absolute;
	 border:none;
	 width: 70px;
	 height: 70px;
	 right: 140px;
	 bottom: 250px;
 }
::-webkit-scrollbar { width: 0; }
::selection { background: #333; color: #999; }
::-moz-selection { background: #333; color: #999; }

#actionmenu {
	top: 75%;
	left: 91%;
	width: 300px;
	height: 200px;
	overflow: auto;
	position: fixed;
	display: none;
	border-top: 9px solid #111;
	border-left: 9px solid #111;
	border-right: 9px solid #111;
	border-bottom: 10px solid #111;
	transform: translate(-50%,-50%);
	border-radius:20px;
	background: #fff;
	background: rgb(255, 255, 255, 0.7);
}

button {
	display:block;
}

.icon {
	position: absolute;
	width: 110px;
	height: 100px;
	right: 100px;
	bottom: 50px;
	transform: scale(0.5);
	background-image: url("images/icon.png");
}

#uber {

	position: absolute;
	width: 800px;
	height: 500px;
	transform: scale(0.3);
	bottom: 70px;
	right: -210px;
	background-image: url("images/uber.png");

}

.uber-logo {
	position: absolute;
	width: 800px;
	height: 500px;
	right: -230px;
	top: -190px;
	transform: scale(0.3);
	background-image: url("images/uber.png");
}

.lupa {

	position: absolute;
	width: 100px;
	height: 100px;
	right: 100px;
	bottom: -5px;
	transform: scale(0.5);
	background-image: url("images/lupa.png");

}

.arrow {

	position: absolute;
	width: 100px;
	height: 100px;
	right: 100px;
	bottom: -5px;
	transform: scale(0.7);
	background-image: url("images/arrow.png");

}

.faixa {

	width: 300px;
	height: 80px;
	background: rgb(1, 1, 1, 0.9);

}

.texto {
	position:absolute;
	font-size: 20px;
	right:50px;
	bottom: 90px;
	color: rgb(1, 1, 1, 0.9);
}

.texto2 {
	position:absolute;
	font-size: 20px;
	right:50px;
	bottom: 150px;
	color: rgb(1, 1, 1, 0.9);
}

.texto3 {
	width: 200px;
	position:absolute;
	font-size: 18px;
	right:40px;
	bottom: 80px;
	color: rgb(1, 1, 1, 0.9);
}

.texto4 {
	position: absolute;
	bottom:-5px;
	color: rgba(255, 255, 255);
}

.chamado {
	position: absolute;
	width: 250px;
	height: 150px;
	right: 24px;
	bottom: 0px;
	border-radius: 5px;
	background: rgba(255, 255, 255);
}

.botao {
	position: absolute;
	width: 200px;
	height: 40px;
	right: 50px;
	bottom: 20px;
	border-radius: 5px;
	border: #000;
	border-width:2ch;
	background: rgb(44, 194, 94);
}

.ch-text {

	position: absolute;
	font-size: 18px;
	top: 11px;
	left: 55px;
	color: rgb(19, 19, 19);
}

.botao2 {
	position: absolute;
	width: 90px;
	height: 30px;
	right: 75px;
	bottom: 190px;
	border-radius: 3px;
	background: rgb(226, 44, 44);
}
.menu {
	width: 100%;
	height: 20px;
	position: relative;
	padding: 20px;
	text-align: center;
	background: #050505; 
	border-bottom: 2px solid #000000;
}

.menu a {	
	color: rgb(255, 255, 255);
	font-family: 'Arial';
	font-size: 15px;
	padding: 20px;
}

.menu a:hover, .menu a:focus {
	background: #b5b4bb;
	border-radius: 20px 20px 0px 0px;
}

.menu a::selection {
	color: #b5b4bb;
	border-radius: 20px 20px 0px 0px;	
	background: transparent;
}

#inicio {
	width: 880px;
	height: 500px;
	margin: 10px;
	float: left;
	overflow-y: scroll;
}

.title {
	color: #666;
	width: 880px;	
	float: left;
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dashed #999;
}

.model {
	color: #333;
	width: 880px;
	background: rgba(0,0,0,0.1);
	float: left;
	margin-bottom: 3px;
}

.model.active {
	background: rgba(58,113,0,0.6);
}

.id {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: left;
	font-weight: 700;
	text-align: center;
}

.name {
	padding: 15px 0 15px 15px;
	width: 800px;
	height: 11px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.name2 {
	padding: 15px 0 15px 15px;
	width: 315px;
	height: 11px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.valor {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 120px;
	height: 11px;
	float: right;
	text-align: center;
}

.malas {
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: right;
	text-align: center;
}

.estoque {
	background: rgba(0,0,0,0.1);
	padding: 15px 0;
	width: 60px;
	height: 11px;
	float: right;
	text-align: center;
}

.comprar {
	color: #000;
	background: #f6c23e;
	padding: 12px 10px 11px;
	position: absolute;
	margin: -45px 0 0 800px;
	font-weight: 700;
	border-radius: 10px 10px 0px 0px;
}

.comprar:hover {
	background: #e9d194;
}

.vender {
	color: #000;
	background: #f6c23e;
	padding: 12px 10px 11px;
	position: absolute;
	margin: -45px 0 0 805px;
	font-weight: 700;
	border-radius: 10px 10px 0px 0px;
}

.vender:hover {
	background: #b58c00;
  
}

.obs {
	color: #5b0000;
	background: rgba(255,0,0,0.3);
	padding: 15px;
	margin-bottom: 20px;
	line-height: 15px;
	border: 1px solid rgba(90,0,0,0.2);
}